.alertas {
  width: 100vw;
  padding: 5rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .box-alertas {
    width: 80%;

    @media screen and (min-width: 1900px) {
      width: 60%;
    }

    @media screen and (max-width: 768px) {
      width: 90%;
    }

    h2 {
      font-size: 2.7rem;
      font-weight: bold;
      background: $title-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
      font-weight: bold;
      margin-bottom: 3rem;

      @media screen and (max-width: 768px) {
        font-size: 2rem;
      }
    }

    &--cards--group {
      // border: 1px solid red;
      display: flex;
      flex-wrap: wrap;
      gap: 1.875rem 7rem;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 768px) {
        gap: 1rem 5rem;
      }

      .pink {
        background-color: $color-light-pink;

        .label h3 {
          color: $color-dark-pink;
        }

        p {
          color: $color-dark-pink;
        }
      }

      .blue {
        background-color: $color-light-blue;

        .label h3 {
          color: $color-dark-blue;
        }

        p {
          color: $color-dark-blue;
        }
      }

      .green {
        background-color: $color-light-green;

        .label h3 {
          color: $color-dark-green;
        }

        p {
          color: $color-dark-green;
        }
      }

      .yellow {
        background-color: $color-light-yellow;

        .label h3 {
          color: $color-dark-yellow;
        }

        p {
          color: $color-dark-yellow;
        }
      }
    }

    &--card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 0.875rem;

      width: 26rem;
      height: 8.5rem;
      padding: 0 1.25rem;

      border-radius: 10px;

      @media screen and (max-width: 768px) {
        padding: 0 0.5rem;
      }

      @media screen and (width: 320px) {
        height: 10rem;
        padding: 0rem 1rem;
      }

      .label {
        display: flex;
        align-items: center;
        align-self: start;
        justify-content: center;
        padding-left: 0.875rem;
        gap: 0.25rem;

        @media screen and (width: 320px) {
          align-self: center;
        }

        h3 {
          font-size: 1.25rem;
          font-weight: bold;

          @media screen and (width: 320px) {
            font-size: 1rem;
          }
        }
      }

      p {
        font-size: 0.875rem;

        @media screen and (max-width: 768px) {
          padding: 0rem 0.5rem;
        }
      }
    }
  }
}
