footer {
  background-color: $background-color-footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 3rem;

  .box-footer {
    // border: 1px solid red;

    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5rem;

    color: $color-light;

    @media screen and (max-width: 768px) {
      // width: 80%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-top: 2rem;
      gap: 2rem;
    }

    section {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @media screen and (max-width: 768px) {
        // width: 80%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
      }

      img {
        padding-left: 1rem;
        width: 9rem;
        height: 2rem;

        @media screen and (max-width: 768px) {
          // width: 80%;
          width: 10rem;
          height: 2rem;
          padding-left: 0;
        }
      }

      h4,
      h5 {
        font-weight: bold;
      }

      h4 {
        font-size: 1.25rem;
      }

      h5,
      p,
      li {
        font-size: 0.875rem;
      }

      p {
        width: 15rem;
        font-weight: 300;
        color: #fefefe;

        @media screen and (max-width: 768px) {
          width: 16rem;
        }
      }

      ul {
        list-style: none;

        li {
          padding: 0.25rem 0;
          font-weight: 300;

          a {
            color: $color-light;
          }
        }
      }
    }
  }

  .box-copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 100%;
    height: 5rem;
    font-size: 1rem;
    color: $color-light;
    border-top: 1px solid #9fabbc;

    p {
      font-weight: 300;

      @media screen and (max-width: 768px) {
        font-size: 1rem;
        // padding: 0.875rem;
        margin: 3rem;
        text-align: center;
      }
    }
  }
}
