.hero {
  background-color: $background-color-light;
  width: 100vw;
  // height: 60vh;
  padding: 5rem 0;
  // margin: 3.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  @media screen and (max-width: 768px) {
      padding: 2.5rem 0;
    }

  &__exames {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    
    @media screen and (max-width: 768px) {
      width: 90%;
    }

    h2 {
      font-size: 2.7rem;
      font-weight: bold;
      background: $title-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
      font-weight: bold;

      
      @media screen and (max-width: 768px) {
        font-size: 2rem;
      }
    }

    p {
      font-size: 1.5rem;
      max-width: 1100px;

      @media screen and (max-width: 768px) {
        font-size: 1rem;;
      }
    }

    &--card-group {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 3rem;
      color: $color-dark;

      &-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 1rem;
        width: 20rem;
        height: 12.5rem;
        border: 1px solid $background-color-card;
        background-color: $background-color-card;
        padding: 1rem;
        box-shadow: 0px 0px 10px 0px rgb(0, 0, 0, 0.25);
        

        h3 {
          font-size: 1.5rem;
          font-weight: bold;

        @media screen and (max-width: 768px) {
        font-size: 1.25rem;;
      }
        }

        p {
          max-width: 16.5rem;
          font-size: 1.25rem;
        }
      }
    }
  }
}