#prevencao__masculina {
  width: 100vw;
  padding: 5rem 0;

  background-color: $background-color-light;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  // gap: 3rem;

  .box-prevencao {
    width: 60%;

    @media screen and (max-width: 768px) {
      width: 90%;
    }

    h2 {
      font-size: 2.7rem;
      font-weight: bold;
      background: $men-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
      font-weight: bold;
      margin-bottom: 3rem;

      @media screen and (max-width: 768px) {
        font-size: 2rem;
      }
    }

    &--cards--group {
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 768px) {
        gap: 2rem;
      }
    }

    &--card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;

      gap: 1rem;
      width: 17rem;
      height: 25rem;
      border: 1px solid $background-color-card;
      background-color: $background-color-card;
      padding: 1rem;
      border-radius: 20px;
      box-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 0.25);

      font-family: "Roboto", sans-serif;

      h3 {
        font-size: 1.5rem;
        font-weight: bold;
      }

      ul {
        list-style: disc;
        padding: 0 0.5rem;
        text-align: left;
        font-size: 0.875rem;

        li {
          padding: 0.5rem 0;

          @media screen and (max-width: 768px) {
            padding: 0.25rem 0;
          }
        }
      }
    }
  }
}
